<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Update book</title>
    </head>
<body>
    <button><a href="{% url 'books_list' %}" class="back-link"> Ortga qaytish</a></br></button>
    <form method="post">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Kitob nomi" value='{{book.title}}'><br>
        <input name="author" type="text" placeholder="Muallif nomi" value='{{book.author}}'><br>
        <input name="description" type="text" placeholder="ezoh" value='{{book.description}}'><br>
        <input name="published_year" type="text" placeholder="Chiqarilgan yili" value='{{book.published_year}}'><br>
        <input name="price" type="text" placeholder="Kitob narxi" value='{{book.price}}'><br>
        <input name="isbn" type="text" placeholder="isbn" value='{{book.isbn}}'><br>
        <input name="created_at" type="text" placeholder="Kitob reytingi" value='{{book.created_at}}'><br>
        <input name="updated_at" type="text" placeholder="Kitob reytingi" value='{{book.updated_at}}'><br>
        <button type="submit">Saqlash</button>
        
    </form>
</body>
</html>

